.cart-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 16px;
  margin: 4px 10px 0 10px;
  background-color: #fff;
  cursor: pointer;
}
.cart-toggle:hover {
  border: 1px solid #428bca;
  background-color: #fff !important;
}
.cart-toggle i {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 15px;
  color: #428bca;
}
.cart-toggle span {
  display: block;
  position: absolute;
  top: -4px;
  right: -7px;
  color: #fff;
  background-color: #bbb;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  border-radius: 50%;
}
#cart {
  height: 0;
  overflow: hidden;
  margin: -20px 0 0 0;
  padding: 0;
  transition: opacity .2s ease-out;
  opacity: 1;
  z-index: 1;
  box-shadow: none;
  border: none;
  opacity: 0;
}
.show-cart #cart {
  margin: 0;
  height: auto;
  opacity: 1;
  border: 1px solid #ddd;
}
#cart label {
  font-weight: normal;
  color: #aaa;
  text-transform: uppercase;
  font-size: 12px;
}
#cart strong {
  font-weight: normal;
  color: #222;
  display: inline-block;
  min-width: 200px;
}
.cart-items {
  display: block;
  margin: 5px 20px;
  padding: 0;
  word-spacing: -1;
}
.checkout {
  text-align: right;
  padding: 5px 20px 10px 20px;
}
.checkout button {
  margin-left: 5px;
}
#cart .total {
  padding: 10px 20px 10px 20px;
  border-top: 1px solid #f0f0f0;
  text-align: right;
}
#cart .total strong {
  font-weight: bold;
}
#cart .subtotal {
  padding: 10px 20px 5px 20px;
  border-top: 1px solid #f0f0f0;
  text-align: right;
}
#cart .weight,
#cart .shipping,
#cart .tax {
  padding: 0 20px 5px 20px;
  text-align: right;
}
#cart .tax {
  padding-bottom: 10px;
}
#cart .panel-heading .badge {
  margin-left: 5px;
  background-color: #bbb;
}
.shelf-group1,
.shelf-group2,
.shelf-group3,
.cart-group1,
.cart-group2,
.cart-group3,
.cart-group4 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shelf-group1,
.shelf-group2 {
  width: 35%;
}
.shelf-group3 {
  width: 30%;
  text-align: right;
}
.cart-group1,
.cart-group2,
.cart-group3,
.cart-group4 {
  width: 25% !important;
}
.cart-group3,
.cart-group4 {
  text-align: right;
}
.shelf-item,
.cart-item {
  position: relative;
  margin: 0;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #ddd;
  display: block;
}
.shelf-item:last-child,
.cart-item:last-child {
  border-bottom: none;
}
.shelf-description,
.cart-description {
  display: block;
  padding: 0 0 5px 0;
  font-weight: bold;
  font-size: 1.2em;
}
.shelf-sku,
.cart-sku {
  display: block;
  padding: 0 0 5px 0;
  font-size: 1.0em;
}
.shelf-price,
.cart-price {
  font-size: 1.1em;
  padding: 0 0 5px 0;
  display: block;
}
.shelf-shipping,
.cart-shipping {
  display: block;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  font-size: 0.9em;
  color: #aaa;
}
.shelf-grey-text {
  display: block;
  font-size: 0.9em;
  color: #aaa;
}
.shelf-group3 .form-control,
.cart-group3 .form-control {
  width: 75px;
  display: inline-block;
  margin-right: 5px;
  text-align: right;
}
