@import url("search.css");
@import url("calendar.css");
@import url("cart.css");
h1,
h2,
h3,
p,
blockquote {
  margin-bottom: 25px;
}
p,
blockquote {
  line-height: 25px;
}
header {
  margin: 10px 10px 25px 10px;
}
.jumbotron {
  margin: 0 0 25px 0;
}
.jumbotron p {
  line-height: 40px;
  color: #777;
}
pre.prettyprint ol.linenums {
  margin-left: 0;
}
footer {
  border-top: 2px solid #f0f0f0;
  margin: 25px 0 0 0;
  padding: 25px 10px 25px 10px;
}
footer div {
  text-align: left;
}
footer p {
  margin-bottom: 5px;
}
footer .menu {
  text-align: center;
}
footer p.social i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 16px;
  margin: 0 10px 0 0;
}
footer .menu {
  margin-top: 20px;
}
footer .menu li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.list-group-item img,
.list-group-item .thumbnail img {
  width: 75px;
}
.list-group-item {
  min-height: 110px;
}
.list-group-item h5 {
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
}
.list-group-item h5 i,
.list-loading i,
.featured-loading i {
  color: #ccc;
  margin-right: 5px;
}
.list-loading,
.featured-loading {
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
}
body .list-group-item a.thumbnail {
  margin-right: 10px;
}
.thumbnail {
  max-width: 200px;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
.thumbnail img {
  width: 100%;
}
.page-results {
  margin-bottom: 10px;
}
div.o-image img {
  margin: 5px 0 20px 0;
  border: 3px solid #f0f0f0;
  max-width: 100%;
}
div.l-image,
div.r-image {
  clear: both;
}
div.l-image img {
  float: left;
  margin: 5px 20px 20px 0;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}
div.r-image img {
  float: right;
  margin: 5px 0 20px 20px;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}
.respond-form .alert,
form .alert {
  display: none;
}
.respond-form i.icon-spinner {
  display: none !important;
}
.respond-form label {
  font-weight: normal;
}
.respond-form .error label {
  font-weight: bold;
  color: #b94a48;
}
.navbar-brand {
  max-height: 50px;
  margin: 0;
  padding: 0;
}
.navbar-brand img {
  max-height: 50px;
  margin: 0;
  padding: 0;
}
div.map-container {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  height: 250px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  border-radius: 5px;
}
div.map p span {
  font-size: 1em;
}
div.map-marker-content img {
  max-width: 50px;
  margin-right: 10px;
  float: left;
}
.settings {
  display: block;
  background-color: #777;
  text-align: right;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #ccc;
  margin-top: -50px;
  font-size: 13px;
  transition: .35s all ease;
}
.settings .welcome-message a {
  display: inline-block;
  margin-left: 5px;
}
.show-settings .settings {
  margin-top: 0;
}
.settings a {
  color: #fff;
}
.settings .language {
  display: inline-block;
  margin-left: 10px;
}
.settings .language label {
  color: #888;
  font-weight: normal;
  font-size: 13px;
  margin-right: 5px;
}
.settings .language select {
  display: inline-block;
  width: 75px;
  font-size: 12px;
  height: 25px;
}
.settings ul.respond-select-language {
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0;
}
.settings ul.respond-select-language li {
  display: inline-block;
  margin: 0 0 0 5px;
}
.settings ul.respond-select-language li a {
  display: inline-block;
  cursor: pointer;
}
.settings-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 16px;
  margin: 4px 10px 0 10px;
  background-color: #fff;
  cursor: pointer;
}
body .settings-toggle:hover {
  border: 1px solid #428bca;
  background-color: #fff !important;
}
.settings-toggle i {
  position: absolute;
  top: 12px;
  left: 13px;
  font-size: 15px;
  color: #428bca;
}
body.show-settings .settings-toggle,
body.show-settings .settings-toggle:hover {
  border: 1px solid #428bca;
  background-color: #428bca !important;
}
.show-settings .settings-toggle i {
  color: #fff;
}
.respond-login,
.respond-registration {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 25px;
  max-width: 500px;
}
.respond-login button,
.respond-registration button {
  margin-top: 15px;
}
@media (min-width: 768px) {
  header .logo {
    margin: 0 auto;
    max-width: 970px;
  }
}
@media (min-width: 992px) {
  header .logo {
    margin: 0 auto;
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  header .logo {
    margin: 0 auto;
    max-width: 1170px;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#slideshow {
  margin-bottom: 1em;
}
html,
body {
  min-height: 100%;
  margin: 0;
}
h1,
h2 {
  color: #355e00;
}
body {
  background-color: #d5d5d5;
}
#content a,
#content a:hover {
  color: #355e00;
}
.container-white {
  box-shadow: 0 1px 2px #aaa;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 1em;
  margin-top: 1em;
}
.container-white-top {
  box-shadow: 0 1px 2px #aaa;
  background: #fff;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 1em 1em 0 1em;
  margin-top: 1em;
}
.container-white-mid {
  box-shadow: 0 1px 2px #aaa;
  background-color: #fff;
  padding: 0 1em 0 1em;
}
.container-white-bottom {
  box-shadow: 0 1px 2px #aaa;
  background-color: #fff;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 0 1em 1em 1em;
}
footer {
  background-color: #355e00;
  color: lightgrey;
}
footer a,
footer a:hover {
  color: #fff;
}
.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}
.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}
@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}
div.o-image img {
  border: 0;
}
header {
  margin: 0;
}
.navbar {
  background-color: white;
  border-radius: 0;
  -moz-border-radius: 0;
  border: 0;
}
@media (min-width: 993px) {
  .navbar {
    height: 85px;
    padding: 0 1em 1em 1em;
  }
  .navbar-brand img {
    max-height: 80px;
    margin-top: 0.125em;
  }
  .navbar-nav li {
    height: 50px;
    padding-top: 16px;
  }
  .navbar-header {
    height: 85px;
  }
  nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li.nav-search.dropdown > form {
    margin-top: 11px;
  }
  nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li.dropdown.open > ul > a {
    line-height: 50px;
  }
}
.form-control {
  padding: 6px;
}
span.shelf-quantity > input,
span.shelf-duration > input {
  width: 60%;
}
